@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root{
    --color_white: #ffffff;
    --color_black: #000000;
    --color_red: #E81D19;
    --color_red2:#770d0b;
    --color_green: #4EA571;
    --color_gray:#808080;
    --color_gray2:#717171;
    --color_gray3:#3E3E3E;
    --color_yellow:#FCBB00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
}


/* HEADER */
header {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

header nav {
    margin-left: 20px;
    display: flex;
}

header nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 20px;
    color: var(--color_black);

}

header nav a:hover {
    color: var(--color_red);
}



header nav a li {
    list-style: none;
}

#informationContainer {
    display: flex;
}

.search-box{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.search-btn{
    color:var(--color_white);
    padding: 13px;
    height: 40px;
    border: 50px;
    background:var(--color_red);
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    transition: 2s;
    border-radius: 40px;
}

.search-btn:hover {
    cursor: pointer;
}

.search-txt{
    border:none;
    outline: none;
    color:var(--color_black);
    font-size: 12px;
    transition: 0.4s;
    line-height: 3.5;
    width: 0;
}

.search-box:hover .search-txt{
    width: 240px;
    padding: 0 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.search-box:hover .search-btn{
    background:var(--color_white);
    color: var(--color_red);
}

.navIcons {
    padding-right: 5px;
    height: 20px;
    width: 25px;
}

#address {
    display: flex;
    align-items: center;
}

#address a{
   box-decoration-break: none;
   color:var(--color_black);
}

#address a:hover{
    color:var(--color_red);
}

.bi-person{
    margin-right: 10px;
}

#local-entrega {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.096);
    cursor: pointer;
    margin-right: 10px;
}

/* MAIN1 */
.main-primeiro{
  display:flex;
  align-items: center;
  justify-content: center;
}

.main-banner-cardapio{
    height:30vh;
    position:absolute;
    z-index:1;
}

.video-header{
    width: 100%;
    height: 40vh;
    top: 0%;
    right: 0%;
    object-fit: cover;    
}

/* MAIN 2 */


main{
    display: flex; 
}

.restaurantes-principal {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--color_gray3);
    padding: 50px;
}

.sessao-restaurantes{
    display: flex;
    padding: 20px;
    transition: transform .5s;
}


.sessao-restaurantes a {
    text-decoration: none;
}

.sessao-restaurantes figcaption {
    font-weight: bold;
    font-size: 25px;
    color: var(--color_green);
    text-align: center;
}

.sessao-restaurantes:hover {
    transform: translateY(-15px);
}


.sessao-restaurantes img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}


/* FOOTER 1*/
footer{
    background-color: var(--color_red);
    color: var(--color_white);
    letter-spacing: 1px;
}

footer .footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 3.5rem;
}

footer .footer-container img{
height: 50px;
}

footer .footer-container ul{
    width: 25%;
    list-style: none;
}

footer .footer-container h3{
    margin-bottom: 16px;
    font-weight: 600px;
}

footer .footer-container .redes-sociais img{
    margin-right: 10px;
    height: 50px;
   }

footer .footer-container p{
   margin: 5px 0;
}

footer .footer-container ul > p{
 margin-bottom: 40px;
}

footer .footer-container li{
    margin: 5px 0;
   }

footer .footer-container a{
    color:var(--color_white);
    text-decoration: none;
    transition: .4s;
 }

 footer .footer-container a:hover{
    color:var( --color_red2)
 }

 footer .footer-container i{
    transition: .4s;
    margin-right: 10px;
    /* para aumentar os icones */
    font-size: 30px;
 }

 footer .footer-container i:hover{
    color:var( --color_red2)   
 }


/* FOOTER 2 */
.footer-segundo{
   padding: 10px; 
   background-color: var(--color_gray);
   color: var(--color_white);
   justify-content: center; 
   align-items: center;
   display: flex;
}

.footer-segundo img{
    width: 40px;
    padding: 8px 0;
    gap: 50px;
 }

#rodape-direitos{
    display: flex;
    flex-direction: column;
    text-align:center;
}


@media screen and (max-width: 1192px) {
    body {
     width: 100%;
    }
 
     header {
       padding: 15px;
       height: auto;
       align-items: start;
       justify-content: space-between;
       min-width: 402px;
     }
   
     header nav {
       flex-direction: column;
       font-size: 14px;
     }
   
     header nav a {
       margin: 5px 0;
     }
   
     #informationContainer {
         height: 40px;
         align-items: center;
     }
   
     .search-box {
       margin: 20px 0;
     }
 
     .search-txt{
         border:none;
         outline: none;
         color:var(--color_black);
         font-size: 12px;
         transition: 0.4s;
         line-height: 3.5;
         width: 0;
     }
     
     .search-box:hover .search-txt{
         width: 160px;
         padding: 0 6px;
         border-bottom: 1px solid rgba(0, 0, 0, 0.5);
     }
 
     .search-btn {
         margin-right: 5px;
     }
   
     #profile {
       margin: 20px 0;
     }

     .video-header {
        width: 100%;
     }

     .main-primeiro {
        min-width: 410px;
     }

     .main-banner-cardapio{
        display: block;
        width: 350px;
     }

     .restaurantes-principal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     }

     .sessao-restaurantes {
        width: 400px;
     }

     .sessao-restaurantes img {
        width: 300px;
        height: 300px;
     }
    
     footer {
        margin-top: 40px;
        padding-top: 40px;
        min-height: 200px;
        flex-direction: column;
      }
 }

 @media screen and (max-width: 800px) { 

    .restaurantes-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
     }

     .sessao-restaurantes {
        padding: 0;
        width: 200px;
        margin-top: 40px;
     }

     .sessao-restaurantes img {
        width: 200px;
        height: 200px;
     }

     footer {
        width: 100%;
        margin-top: 40px;
        padding-top: 40px;
        flex-direction: column;
        font-size: 50%;
      }
}
   

